<%- include('./partials/header') %>
<body class="flex justify-center items-center h-screen flex-col">
    <div class="absolute top-4 left-2 text-2xl font-bold text-blue-400">Scatch</div>
    <div class="flex flex-col bg-white p-10 rounded-lg border border-gray-300">
        <p class="font-bold">Login your Account</p>
        <form id="form" autocomplete="off" action="/users/register" method="post" class="flex flex-col mt-4 min-w-72">
            <input id="email" type="text" name="email" placeholder="Email" class="border border-gray-300 p-2 rounded-lg mt-2 outline-blue-500" required>
            <span id="emailError" class="text-red-500 mt-2"></span>
            <input type="password" name="password" placeholder="Password" class="border border-gray-300 p-2 rounded-lg mt-2 outline-blue-500" required>
            <a href="" class="text-blue-800 mt-2 hover:underline">Forgot password ?</a>
            <button class="bg-blue-500 py-2 mt-4 rounded-full text-white text-xl ease-in duration-200 cursor-pointer hover:bg-blue-700">Login</button>
        </form>
    </div>

    <script src="/javascripts/script.js"></script>
</body>
</html>